*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #247b9a;

}

.container{
    text-align: center;
    border-radius: 15px;
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}
.lg-input {
    border: none;
    height: 35px;
    width: 220px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
}
#valiDate{
    width: 200px;
    height: 35px;
    background-color: #10cd80;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}