<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="mybatisLib" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.6.1" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.16" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>