<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tendu.mapper.NeedMapper">
    <!--<select id="queryUserName" parameterType="java.lang.String" resultType="com.tendu.model.User">-->
      <!--select * from users where username=#{username}-->
    <!--</select>-->

    <select id="queryById" parameterType="java.lang.Integer" resultType="com.tendu.model.Need">
        select * from needs where id=#{id}
    </select>

    <select id="queryAll" resultType="com.tendu.model.Need">
        select * from needs
    </select>

    <delete id="deleteNeedById" parameterType="java.lang.Integer">
        delete from needs where id=#{id};
    </delete>

    <insert id="insert" parameterType="com.tendu.model.Need">
        insert into
          needs(title, risk_level, school_id, info, create_time)
        values
          (#{title}, #{risk_level}, #{school_id}, #{info}, #{create_time})
    </insert>

    <update id="update" parameterType="com.tendu.model.Need">
        update needs
        set title=#{title}, risk_level=#{risk_level}, school_id=#{school_id}, info=#{info}
        where id=#{id}
    </update>

    <select id="queryByPage" parameterType="com.tendu.model.Page" resultType="com.tendu.model.Need">
        select * from needs limit #{start}, #{maxRow}
    </select>

    <select id="getCountNeed" resultType="java.lang.Integer">
        select count(*) from needs
    </select>

    <select id="queryLot" resultType="com.tendu.model.Need">
        select * from needs limit 0,10
    </select>
</mapper>