<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tendu.mapper.WorkMapper">
<!--    <select id="queryAllWork" resultType="com.tendu.model.Work">-->
<!--        select * from works-->
<!--    </select>-->
    <select id="queryWorkById" parameterType="java.lang.Integer" resultType="com.tendu.model.Work">
        select * from works where id=#{id}
    </select>
    <update id="updateWork" parameterType="com.tendu.model.Work">
        update works set title=#{title},info=#{info} where id=#{id}
    </update>
    <insert id="insertWork" parameterType="com.tendu.model.School">
        insert into works (title ,info ,school_id ,create_time) values (#{title} ,#{info} ,#{school_id} ,#{create_time})
    </insert>
    <delete id="deleteWorkById">
        delete from works where id=#{id}
    </delete>

    <select id="getCountWork" resultType="java.lang.Integer">
        select count(*) from works
    </select>

    <select id="queryByPage" parameterType="com.tendu.model.Page" resultType="com.tendu.model.Work">
        select * from works limit #{start}, #{maxRow}
    </select>
</mapper>